* {
  font-family: 'Montserrat', sans-serif;
}

.body {
  position: relative;
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.body .welcome {
  height: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.body .welcome p {
  font-size: 3em;
  font-weight: 600;
  margin-left: 15px;
}

.body img {
  height: 100%;
}

.body underline {
  margin-top: 40px;
}
